# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.TunFall.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\TunFall\.idea\.idea.TunFall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
